<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="home">
	
		<h1 class="text-center">Best of the Year by [[${name}]]</h1>
		
		<div class="d-flex flex-column align-items-center gap-4 my-5">
			<img class="" alt="We the Best" th:src="@{/img/we_the_best.png}">
			<p class="text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Vivamus tempus varius suscipit. Phasellus dignissim erat nisi, 
				in suscipit nisi vulputate non. Praesent malesuada sem eu metus 
				ullamcorper, ut varius massa elementum. Sed aliquet mollis scelerisque. 
				Nulla volutpat, mi vitae imperdiet ullamcorper, 
				mauris nunc posuere dolor, eleifend dapibus enim nulla ut arcu. 
				Vivamus id facilisis purus. Ut maximus orci eget mauris eleifend, 
				quis blandit lectus lacinia. Ut nec ipsum non dui interdum porttitor. 
				Duis vel enim in eros porttitor eleifend vel nec libero. 
				Pellentesque habitant morbi tristique senectus et netus 
				et malesuada fames ac turpis egestas. 
				Donec et arcu vel velit congue imperdiet. 
				Aenean maximus purus non libero iaculis, non semper tortor faucibus. 
				Sed maximus, urna vel euismod lobortis, dui metus tempus tortor, 
				ornare condimentum lectus metus eu enim. Mauris diam ligula, 
				accumsan ut dapibus in, lacinia vitae risus. Vestibulum auctor imperdiet velit.
				Mauris dolor nunc, fermentum ac magna ut, molestie condimentum libero. 
				Sed aliquam vehicula faucibus. Etiam blandit sem consequat erat congue congue. 
				Maecenas eleifend auctor est. Phasellus risus libero, commodo consectetur imperdiet vitae, 
				semper at leo. Vivamus lacinia ornare hendrerit. Integer arcu nisi, 
				accumsan id neque a, posuere tincidunt metus. 
				Aliquam imperdiet ligula eu scelerisque congue. Nunc varius dignissim arcu, 
				eu suscipit neque maximus nec. Aenean eu scelerisque ante, ac tincidunt lacus. 
				Vivamus efficitur ornare nisl, eget auctor neque tincidunt ullamcorper. 
				Etiam bibendum, enim sit amet fermentum pellentesque, ligula risus pretium enim, 
				quis suscipit metus elit eget ipsum. Nam eget elementum turpis. 
				Aliquam tellus arcu, convallis vel efficitur et, dapibus et mauris. Integer sollicitudin mi neque.
				Nullam quis blandit lectus. Donec blandit mauris risus, 
				ut luctus turpis fringilla vel. Etiam fringilla eros vitae blandit dapibus. 
				Vivamus sed lacus rhoncus ante facilisis porttitor. 
				Sed interdum gravida elit sit amet placerat. 
				In tempus, metus sit amet consequat tempus, ligula purus faucibus ex, 
				consectetur interdum neque turpis nec risus. Fusce lacinia convallis lacinia. 
				Sed nisi risus, imperdiet ut felis sit amet, tempus ultrices lorem.
				Mauris porta felis rutrum, elementum ipsum vel, finibus ex. Cras vel tortor sed ipsum finibus auctor. 
				Cras luctus non risus quis malesuada. Donec posuere pretium cursus. 
				Ut eu orci id nulla tincidunt maximus. Maecenas condimentum pretium maximus. 
				Curabitur lobortis justo augue, tincidunt congue sem tincidunt vel. 
				Mauris vehicula sodales pellentesque. 
				Curabitur aliquet consectetur nisl, ac ultrices tortor scelerisque vitae. 
				Cras sit amet turpis sem. Suspendisse tincidunt metus in quam vehicula suscipit consectetur id magna. 
				Cras finibus vulputate ornare. Vestibulum luctus convallis suscipit. 
				Vivamus aliquam dolor eget sollicitudin rhoncus.
				Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
				Nullam eu mi at ligula gravida elementum sit amet ac velit. 
				Sed et volutpat leo. Fusce elit ex, lacinia id venenatis a, sagittis ac risus. 
				Nullam non luctus orci, dapibus semper justo. Duis ac iaculis tellus. 
				Duis vitae est tristique, auctor dolor a, lacinia ipsum. 
				Quisque rutrum, turpis ac sodales viverra, dui mauris sollicitudin erat, a luctus ex enim eget orci.
			</p>
			
		</div>
	
	</div>

</body>
</html>